@use '../css/reset.css';
@import 'https://fonts.googleapis.com/css2?family=Crimson+Text&family=DM+Serif+Display&family=Holtwood+One+SC&family=Zen+Kurenaido&display=swap';

// Colors
$primary-light-blue: #6093C3;
$primary-dark-blue: #395276;
$primary-red: #C36060;

// Fonts
$tf-main: 'Crimson Text', serif;
$tf-heading: 'DM Serif Display', serif;
$tf-descriptive: 'Zen Kurenaido', sans-serif; 
$tf-link: 'Holtwood One SC', serif;

* {
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    font-family: $tf-main;
}

.card {
    display: flex;
    padding: 10em;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 3em;

    &__title {
        font-family: $tf-heading;
        font-size: 6rem;
    }
    
    &__description {
        font-family: $tf-descriptive;
        font-size: 2.5rem;
    }

    &__text-description {
        margin: {
            top: 2em;
        }
    }

    &__btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: $tf-link;
        height: 10em;
        width: 10em;
        border-radius: 50%;
        background-color: $primary-light-blue;
        box-shadow: inset 1.5em 4px 0px -3px $primary-dark-blue;
    }

    &__btn:hover {
        background-color: #4a7093;
    }

    &__link {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__link-text {
        font-family: $tf-link;
        color: white;
    }
}