@use '../css/reset.css';
@import 'https://fonts.googleapis.com/css2?family=Crimson+Text&family=DM+Serif+Display&family=Holtwood+One+SC&family=Zen+Kurenaido&display=swap';

// Colors
$primary-light-blue: #6093C3;
$primary-dark-blue: #395276;
$primary-red: #C36060;
$primary-gray: #E5E5E5;

// Fonts
$tf-main: 'Crimson Text', serif;
$tf-heading: 'DM Serif Display', serif;
$tf-descriptive: 'Zen Kurenaido', sans-serif; 
$tf-link: 'Holtwood One SC', serif;

* {
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    font-family: $tf-main;
}

.navigation {
    position: fixed;
    top: 0;
    width: 100%;
    margin: {
        top: 1em;
        left: auto;
        right: auto;
        bottom: 0;
    }
    background-color: white;

    &__btn {
        display: block;
        margin: 0 auto;
        width: 3em;
        border: {
            // top: 2px solid $primary-gray;
            bottom: 2px solid $primary-gray;
        }
        // text-transform: uppercase;
    }

    &__icon {
        width: 3em;
    }
}

.card {
    display: flex;
    padding: 10em;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 8em;

    &__title {
        font-family: $tf-heading;
        font-size: calc(1rem + 5vw);
    }
    
    &__description {
        font-family: $tf-descriptive;
        font-size: calc(1rem + 1.5vw);
        margin: {
            top: 0.23em;
        }
    }

    &__text-description {
        margin: {
            top: 2em;
        }
    }

    &__brand-icons {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(2em, 1fr));
        grid-auto-rows: minmax(50px, 2fr);
        place-items: center;
        gap: 0.75em;
        margin: {
            top: 6em;
        }
    }

    &__btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: $tf-link;
        height: 10em;
        width: 10em;
        border-radius: 50%;
        background-color: $primary-light-blue;
        box-shadow: inset 1.5em 4px 0px -3px $primary-dark-blue;
    }

    &__btn:hover {
        background-color: #4a7093;
    }

    &__link {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__link-text {
        font-family: $tf-link;
        color: white;
    }
    
    &__bar {
        width:100%;
        height: 1em;
        margin: {
            top: 1em;
        }
        background-color: $primary-gray;
    }
}

@media screen and (min-width: 1180px) {
    .card {
        &__title {
            font-size: 6em;
        }

        &__description {
            font-size: 2.25em;
        }
    }
}

@media screen and (max-width: 693px) {
    .card {
        flex-direction: column;
        &__title {
            font-size: 5em;
        }

        &__description {
            font-size: 1.75em;
        }

        margin: {
            top: 0.75em;
        };
    }

} 
